*{
    justify-content: space-around;
    position: relative;
}
body{
    background-color: rgb(9,12,54);
    color: bisque;
}
h1{
    align-content: center;
    padding: 1%;
    margin: 5%;
    margin-bottom: 0%;
}
.main{
    padding: 1px;
    border: 0px;
    margin: 200%;
}
.form{
    border-style: solid;
    border-radius: 1mm;
    align-items: center;
    color: bisque;
    background-color: rgb(9, 12, 54);
    justify-content: space-between;
    padding-left: 1cm;
    padding: 1%;
    margin: 5%;
    margin-top: 0%;
}