@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
  font-size: large;
  list-style: none;
}
html {
  scroll-behavior: inherit;
}

body {
  background-color: rgb(5, 9, 69);
  justify-content: center;
  align-items: center;
  overflow-y: visible;
  overflow-x: hidden;
}

/* Navbar */

#myimg {
  width: 5%;
  height: 6%;
  size: 20%;
  position: fixed;
  margin-top: auto;
}
.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 0 15px;
  align-items: center;
}

.navbar{
  height: 12%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 50vw;
  align-items: center;
  padding: 0.2rem;
  margin-left: -50px;
  font-style: bold;
  font-weight: bolder;
}

.navbar li a {
  position: relative;
  font-size: 1.8em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 3vw;
}

.navbar li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: rgb(255, 102, 102); 
  border-radius: 3px; 
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.7s;
}


.navbar li a:hover::after {
  transform-origin: left;
  transform: scaleX(1);;
}

.homenav {
  position: sticky;
}

.bg img {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -20;
}

/* glitch effect */
.glitch {
  margin-right: 40%;
  margin-left: 5%;
  letter-spacing: 0.3%;
  cursor: none;
  position:relative;
  color: rgb(211, 235, 235);
  font-size: 250%;
  font-family: "Pacifico", "Arial Narrow" monospace;
}
.glitch::before,
.glitch::after {
  content: "Ansh Shah!";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.glitch::before {
  animation: glitch 3s linear infinite;
  color: #e91e6292;
  z-index: 0;
}
.glitch::after {
  animation: glitch 3s linear infinite reverse;
  color: #00c8ff70;
  z-index: 0;
}

@keyframes glitch {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: -5px;
    left: -5px;
  }
  40% {
    top: 5px;
    left: 5px;
  }
  60% {
    top: -5px;
    left: 5px;
  }
  80% {
    top: 5px;
    left: -5px;
  }
  100% {
    top: 0;
    left: 0;
  }
}

/* Typing animation*/
#profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.container-anim {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 0 15px;
  align-items: center;
}

.photo {
  margin-right: 1%;
}

img {
  max-width: 60%;
  height: auto;
}

.typing-container {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  white-space: nowrap;
  color: antiquewhite;
}

#cursor {
  border-left: 2px solid #000;
  animation: blink 0.7s infinite;
  margin-left: 0%;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*Skills Section*/
.skill-inner{
  padding-top: 2px;
}

.skill-header{
  text-align: center;
  color: #fff;
  padding: 2rem;
  position: center;
}
.skill-header p{
  font-size: 3rem;
}
h2{
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
  font-size: 2rem;
}
.skill-header:after{
  content: '';
  align-items: center;
  bottom: 0;
  left: 50%;
  transform:  translate(-50%);
  height: 40px;
  width: 10%;
  background-color: #2ecc71;
}

.row{
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-container{
  flex-basis: 33%;
  display: inline-block;
  justify-content: center;
  align-items:center;
  text-align: center;
  grid-gap: 0;
  padding: 1rem 10%;
  font-size: 2rem;
  margin-left: 2%;
}

@media (max-width:450px) {
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 90vh;
  }
  .homenav {
    position: center;
  }
  .skill-container{
    margin-left: auto;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }  
  .container{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
  }
  .navbar ul{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
  }
  .typing-container{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 10vw;
  }
  .row{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:hidden;
  }
  #profile{
    padding-block: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  img{
    size: 20%;
  }
}

.skill-box{
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.skill-title h3{
  color: #fff;
  margin: 0.5rem;
}
.skill-img{
  width: 160px;
  position:sticky;
  height: 160px;
  border-radius: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-img::after{
  content: '';
  position: absolute;
  margin-right: -5;
  width: 50%;
  height: 50%;
}
.skill-icon{
  width: 80px;
  z-index: 0;
}

/* Container for all projects */
#project{
  height:auto ;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-container {
  display:flex;
  justify-content: center;
  align-items: center; 
  margin-left: auto;
  margin-right: auto;
} 
/* Style the project details */
.project-details {
  padding: 20px;
  flex-grow: 1;
}

/* Style the features list */
.project-details ul {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Style the link button */
.btn {
  align-items: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/* Apply styles to the project container */
.project {
  width: calc(33.33% - 40px); /* Adjust as needed */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

/* Style the project images */
.project img {
  width: 120%;
  height: auto;
  border-radius: 10px 10px 0 0;
  color: #ccc;
  margin: auto;
}

/* Style the project titles */
.project h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #bdfcff;
}

/* Style the project descriptions */
.project p {
  margin-top: 5px;
  font-size: 1em;
  color: #a1a1a1;
}

/* Hover effect */
.project:hover {
  transform: translateY(-5px); /* Move project up slightly */
  box-shadow: 1px 3px 5px #ffffffad; /* Increase shadow on hover */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .project {
    width: calc(50% - 40px); /* Adjust as needed */
  }
}

@media (max-width: 430px) {
  .project {
    width: calc(100% - 40px);
  }
  .projects-container{
    flex-basis: 100%;
    display: inline-flex;
    max-width: min-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.visit{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply fade-in animation to project details */
.project-details.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

/*Unused right now*/
.btntop {
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-size: 1em;
  top: 150px;
  padding: 4px 10px;
  box-shadow: 0 0 5px cyan, 0 0 10px cyan, 0 0 15px cyan;
  background-color: cyan;
}

.btntop a {
  text-decoration: none;
  color: black;
}

/* Contact Form*/
#contact{
  height: 100vb;
    justify-content: space-around;
    position: relative;
    z-index: -100;
}
.contact-body{
    background-color: rgb(9,12,54);
    color: bisque;
}
.skill-header{
    align-content: center;
    padding-top: 4%;
    margin: 5%;
    margin-bottom: 0%;
}
.contact-form{
    border-style: solid;
    border-radius: 1mm;
    align-items: center;
    color: bisque;
    background-color: rgb(9, 12, 54);
    justify-content: space-between;
    padding-left: 1cm;
    padding: 2%;
    margin: 5%;
    margin-top: 0%;
}
.contact-form p{
  padding: 1%;
}